#shopify-section-search-template{
  .collection{
    .collection__toolbar{
       @media(max-width:767px){
        .collection__toolbar-item{
          width: 50%;
          align-items:center;
          justify-content: center;
        &.collection__toolbar-item--layout{
            display: none;
          }
        }
      }
    }
  }
  .collection{
    .product-item__action-list{
      display: none;
    }
  }
}

/* custom loader css */
.custom_loader {
  display: none;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #000;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}