<div id="amp-page">
  <div class="container">
    <div class="row">
      <div class="amp_mob_collection">
        <div class="logo_mob">
          <amp-img src="https://cdn.shopify.com/s/files/1/0285/2667/4059/files/sourcr-it-right_2_a9750d99-95c1-4bfe-aef5-282ccbd8b506.png?v=1582530338" alt="logo" height="100" width="100"></amp-img>
        </div>
      </div>
      <div class="row">
        <div class="title_page">
          <h1>Collection page</h1>
        </div>
      </div>
    </div>
  </div>
</div>