<!-- sections/product-some-matches-section -->
{%- if settings.enable_mix_and_max_product -%}
  {%- assign hideMixAndMax = false -%}
  {% for productTagVal in product.tags %}
    {%- if productTagVal contains 'MM1_' or productTagVal contains 'MM2_' -%}
      {%- assign hideMixAndMax = true -%}
      {% break %}
    {%- endif -%}
  {% endfor %}
{%- comment -%} :: here-are-some-matches-product :: {%- endcomment -%}
{% comment %}
{% assign collection = collections.all %}
{%- assign tabbed_one = false -%}
{%- assign tabbed_second = false -%}
{%- assign tabbed_third = false -%}
{%- assign tabbed_fourth = false -%}
{% for product in collections.all.products %}
  {%- for product_tags in product.tags -%}
    {%- if product_tags contains 'usage_Skirt' -%}
      {%- assign tabbed_one = true -%}
    {%- endif -%}
    {%- if product_tags contains 'usage_Kurta' -%}  
      {%- assign tabbed_second = true -%}
    {%- endif -%}
    {%- if product_tags contains 'usage_Kurti' -%}  
      {%- assign tabbed_third = true -%}
    {%- endif -%}
    {%- if product_tags contains 'id_9820' -%}  
      {%- assign tabbed_fourth = true -%}
    {%- endif -%}
  {% endfor %}
{% endfor %}
{% endcomment %}
  <section class="product-some-matches-section{% unless hideMixAndMax %} hide{% endunless %}">
    <div class="container ">
      <div class="here-are-some-matches-product-wrapper">
        {%- comment -%} :: some-matches-product-items :: {%- endcomment -%}
        {%- include 'some-matches-product-items' -%}
      </div>
    </div>
  </section>
{%- endif -%}