<div class="checkout-button">
    <form method="post" action="/cart" novalidate="novalidate" data-item-count="200" class="checkout-button-bottom">
      <button type="submit" name="checkout" class="cart-recap__checkout button button--primary button--full button--large">Checkout</button>
    </form>
</div>